{% extends "base.html" %}

{% block content %}
<div>
<nav class="navbar">
    <div class="container">
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar">
            {% for group_name in groups %}
                <a href="{{ url_for('main.groups', group_name=group_name) }}" class="navbar-item">Groupe {{ group_name }}</a>
            {% endfor %}
            <a href="{{ url_for('main.score_board') }}" class="navbar-item">Classement</a>
        </div>
    </div>
    </div>
</nav>
</div>
<hr>
<div class="column is-8 is-offset-2">
    <h3 class="title">Groupe {{group_name}}</h3>
    <div class="box">
        <form method="POST" action="/groups/{{group_name}}">
            <div class="table-container">
                <table class="table is-fullwidth is-striped">
                {%- for match in matches %}
                    <tr>
                        <td>{{match.team1}}</td>
                        <td><input class="input is-small" type="number" name="score_first_column[]" value="{{match.score1 if (match.score1 != None) else ''}}"></td>
                        <td><input class="input is-small" type="number" name="score_second_column[]" value="{{match.score2 if (match.score2 != None) else ''}}"></td>
                        <td>{{match.team2}}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <div>
                <button class="button is-dark">Submit</button>
            </div>
        </form>
        </div>
</div>
{% endblock %}
