{% extends "base.html" %}

{% block content %}
<section class="hero is-primary is-fullheight">
  <div>
  <nav class="navbar">
    <div class="container">
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-tabs center">
          {% for group_name in groups %}
            <a href="{{ url_for('main.group', group_name=group_name) }}" class="navbar-item">Groupe {{ group_name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </nav>
</div>
</section>
{% endblock %}