repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: fix-byte-order-marker
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --indent, "4", --no-sort-keys]
      - id: check-yaml
      - id: check-merge-conflict
      - id: requirements-txt-fixer
        args: [requirements-tests.txt, requirements.txt]
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: name-tests-test

  - repo: https://github.com/bwhmather/ssort
    rev: 0.14.0
    hooks:
      - id: ssort

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.21
    hooks:
      - id: mdformat

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [yaml]

  - repo: https://github.com/seddonym/import-linter
    rev: v2.1
    hooks:
      - id: import-linter

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix, --indent, "4", --trailing-commas, --no-sort]

  - repo: https://github.com/crate-ci/typos
    rev: v1.28.4
    hooks:
      - id: typos
