[tool.poetry]
name = "yak-server"
packages = [ { include = "yak_server" } ]
version = "0.13.0"
description = "Football bet rest/graphql server"
authors = ["Guillaume Le Pape <gui.lepape25@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["mysql", "api", "rest", "graphql"]

repository = "https://github.com/yak-toto/yak-server"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"


[tool.poetry.dependencies]
python = "^3.8"

Flask-SQLAlchemy = "^3.0.3"
PyJWT = "^2.6.0"
PyMySQL = {extras = ["rsa"], version = "^1.0.2"}
python-dotenv = "^1.0.0"
strawberry-graphql = ">=0.168.1,<0.172.0"
flask-cors = "^3.0.10"
flask-migrate = "^4.0.4"
jsonschema = "^4.17.3"


[tool.poetry.group.test.dependencies]
pytest = "^7.2.2"
pytest-cov = "^4.0.0"
pexpect = "^4.8.0"


[tool.poetry.group.pre_commit.dependencies]
pre-commit = "^3.2.0"
ruff = ">=0.0.257,<0.0.262"


[tool.poetry.group.dev.dependencies]
black = "^23.3.0"


[tool.poetry.scripts]
yak = "yak_server.cli:main"


[tool.black]
line-length = 100
include = '\.pyi?$'
target-version = ['py38']
exclude = '''
(
  /(
      \.git          # root of the project
    | \.mypy_cache
    | \.venv
    | env
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''


[tool.coverage.run]
branch = "true"


[tool.coverage.report]
omit = ["./yak_server/database/migrations/*"]
exclude_lines = ["if TYPE_CHECKING:"]


[tool.ruff]
line-length = 100
select = ["ALL"]
target-version = "py38"
ignore = [
    "D",
    "ANN101",  # missing annotation for self?

    "ANN001",
    "ANN002",
    "ANN003",
    "ANN102",
    "ANN202",
    "N818",

    # shadowing builtins
    "A002",
    "A003",

    "ARG001",
    "ARG002",
    "ARG005",

    "C901",
    "PLR",

    "G004"
]
fix = true
exclude = [
    ".git",
    ".ruff_cache",
    "__pypackages__",
    "_build",
    "build",
    "dist",
    "env",
]
src = ["yak_server", "tests"]

[tool.ruff.per-file-ignores]
"yak_server/cli/*" = ["T20"]
"yak_server/database/migrations/*" = ["ANN201"]
"yak_server/helpers/errors.py" = ["S105"]
"tests/*" = ["S101", "S105", "S311", "ANN201"]
"setup.py" = ["INP001"]

[tool.ruff.isort]
known-first-party = ["yak_server"]
known-third-party = [
    "flask",
    "jwt",
    "strawberry",
    "werkzeug",
    "sqlalchemy",
    "flask_sqlalchemy",
    "flask_cors",
]
