[tool.poetry]
name = "yak-server"
packages = [ { include = "yak_server" }, { include = "alembic.ini" } ]
version = "0.18.0"
description = "Football bet rest/graphql server"
authors = ["Guillaume Le Pape <gui.lepape25@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["mysql", "api", "rest", "graphql"]

repository = "https://github.com/yak-toto/yak-server"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"


[tool.poetry.dependencies]
python = "^3.7"

PyJWT = "^2.6.0"
PyMySQL = {extras = ["rsa"], version = "^1.0.2"}
strawberry-graphql = ">=0.168.1,<0.176.0"
alembic = "^1.10.3"
argon2-cffi = "^21.3.0"
fastapi = "^0.95.1"
uvicorn = {extras = ["standard"], version = ">=0.21.1,<0.23.0"}
httpx = "^0.24.0"


[tool.poetry.group.test.dependencies]
pytest = "^7.2.2"
pytest-cov = "^4.0.0"
pytest-env = "^0.8.1"
pexpect = "^4.8.0"


[tool.poetry.group.pre_commit.dependencies]
pre-commit = [
    {version = "^2.21.0", python = "3.7"},
    {version = "^3.2.0", python = ">=3.8"}
]
ruff = ">=0.0.257,<0.0.264"


[tool.poetry.group.profiling.dependencies]
yappi = "^1.4.0"


[tool.poetry.group.dev.dependencies]
black = "^23.3.0"


[tool.poetry.scripts]
yak = "yak_server.cli:main"


[tool.black]
line-length = 100
target-version = ['py37']


[tool.coverage.run]
branch = "true"


[tool.coverage.report]
omit = ["./yak_server/database/migrations/*"]
exclude_lines = ["if TYPE_CHECKING:", "def handle_exception.*"]


[tool.ruff]
line-length = 100
select = ["ALL"]
target-version = "py37"
ignore = [
    "D",
    "ANN101",  # missing annotation for self?

    "ANN002",
    "ANN003",
    "ANN102",
    "ANN202",
    "N818",

    # shadowing builtins
    "A002",
    "A003",

    "C901",
    "PLR",

    "G004",

    "S602",
    "S607",
]
fix = true
src = ["yak_server", "tests"]


[tool.ruff.per-file-ignores]
"yak_server/*" = ["B008"]
"yak_server/cli/*" = ["T20"]
"yak_server/database/migrations/*" = ["ANN001", "ANN201"]
"yak_server/helpers/errors.py" = ["S105"]
"tests/*" = ["S101", "S105", "S311", "ANN001", "ANN201"]
"setup.py" = ["INP001"]


[tool.ruff.isort]
known-first-party = ["yak_server"]


[tool.pytest.ini_options]
env = [
    "MYSQL_DB=yak_toto_test",
]
