[tool.poetry]
name = "yak-server"
packages = [ { include = "yak_server" } ]
version = "0.10.0"
description = "Football bet rest/graphql server"
authors = ["Guillaume Le Pape <gui.lepape25@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["mysql", "api", "rest", "graphql"]

repository = "https://github.com/yak-toto/yak-server"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"


[tool.poetry.dependencies]
python = "^3.8"

Flask-SQLAlchemy = "^3.0.3"
PyJWT = "^2.6.0"
PyMySQL = {extras = ["rsa"], version = "^1.0.2"}
python-dotenv = "^1.0.0"
strawberry-graphql = "^0.168.1"
flask-cors = "^3.0.10"
flask-migrate = "^4.0.4"
jsonschema = "^4.17.3"


[tool.poetry.group.test.dependencies]
pytest = "^7.2.2"
pytest-cov = "^4.0.0"
pexpect = "^4.8.0"
pytest-asyncio = "^0.21.0"


[tool.poetry.group.pre_commit.dependencies]
pre-commit = "^3.2.0"
ruff = "^0.0.257"


[tool.poetry.scripts]
yak = "yak_server.cli:main"


[tool.black]
line-length = 100
include = '\.pyi?$'
target-version = ['py39']
exclude = '''
(
  /(
      \.git          # root of the project
    | \.mypy_cache
    | \.venv
    | env
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''


[tool.coverage.run]
branch = "true"


[tool.coverage.report]
omit = ["./yak_server/database/migrations/*"]


[tool.ruff]
line-length = 100
select = ["ALL"]
target-version = "py38"
ignore = [
    "TID252",

    "D",
    "ANN101",  # missing annotation for self?

    "ANN001",
    "ANN002",
    "ANN003",
    "ANN102",
    "ANN201",
    "ANN202",
    "ANN204",
    "ANN205",
    "ANN206",
    "ANN401",
    "PGH003",
    "PGH004",
    "RET504",
    "RET505",
    "RET506",
    "RET507",
    "BLE001",
    "B008",
    "N811",
    "N804",
    "N818",

    "N806",

    # shadowing builtins
    "A001",
    "A002",
    "A003",

    "ARG001",
    "ARG002",
    "ARG003",
    "ARG004",
    "ARG005",
    "FBT001",
    "FBT002",
    "FBT003",

    "DTZ003",
    "DTZ005",

    "EM101",
    "EM102",
    "EM103",

    "C901",
    "PLR",

    "TCH003",

    "G004"
]
fix = true
exclude = [
    ".git",
    ".ruff_cache",
    "__pypackages__",
    "_build",
    "build",
    "dist",
    "env",
]
src = ["yak_server", "tests"]

[tool.ruff.per-file-ignores]
"yak_server/cli/*" = ["T20"]
"tests/*" = ["S101", "S105"]
"setup.py" = ["INP001"]

[tool.ruff.isort]
known-first-party = ["yak_server"]
known-third-party = [
    "flask",
    "jwt",
    "strawberry",
    "werkzeug",
    "sqlalchemy",
    "flask_sqlalchemy",
    "flask_cors",
]
