{% extends "base.html" %}

{% block content %}
<div>
<nav class="navbar">
    <div class="container">
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar">
            {% for group_name in groups %}
                <a href="{{ url_for('main.groups', group_name=group_name) }}" class="navbar-item">Groupe {{ group_name }}</a>
            {% endfor %}
            <a href="{{ url_for('main.score_board') }}" class="navbar-item">Classement</a>
        </div>
    </div>
    </div>
</nav>
</div>
<hr>
<div class="column is-8 is-offset-2">
    <h3 class="title">Classement</h3>
    <div class="box">
      <form method="GET" action="/score_board">
          <div class="table-container">
              <table class="table is-fullwidth is-striped">
              <thead>
                  <tr>
                      <th>Joueur</th>
                      <th>Points</th>
                  </tr>
              </thead>
              {%- for name, points in score_board_resource %}
                  <tr>
                      <td><div>{{name}}</div></td>
                      <td><div>{{points if points != None else 0}}</div></td>
                  </tr>
              {% endfor %}
              </table>
          </div>
      </form>
      </div>
</div>
{% endblock %}
